@charset "UTF-8";
/*
INDICE
0. Compartido
1. Index
2. Contacto
3. Productos
4. Redes
5. Donde comprar
6. Legales
7. Quienes somos
8. Media Queries
9. Animaciones
*/
/*0. Compartido*/
html {
  height: 100%; }

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: linear-gradient(90deg, #4d4d4d 0%, #5d5d5d 20%, #f7f7f7 100%);
  box-sizing: border-box; }
  body h2 {
    font-weight: 700;
    font-style: italic;
    text-decoration: underline; }

.navbar {
  z-index: 100;
  width: 100%;
  position: fixed;
  background-color: #D98556; }
  .navbar .navbar-brand {
    margin-right: 0;
    width: 20%;
    min-width: 200px;
    display: flex;
    justify-content: center; }
    .navbar .navbar-brand img {
      height: 10%;
      width: 70%;
      animation: fadein 1.5s; }
  .navbar .nav-item {
    animation: fadein 1.5s;
    transition: background-color 350ms ease-in-out; }
    .navbar .nav-item:hover {
      background-color: #AA4A15; }
  .navbar .nav-item a {
    transition: text-shadow 350ms ease-in-out; }
    .navbar .nav-item a:hover {
      text-shadow: 0.3px 0.3px white; }
  .navbar .navbar-light .navbar-nav .nav-link {
    text-align: center;
    animation: fadein 1.5s; }
  .navbar .selected {
    background-color: #2B2B2B;
    background-size: cover; }
    .navbar .selected:hover {
      color: white !important; }

.dropdown-menu {
  background-color: #D98556; }
  .dropdown-menu .dropdown-item {
    text-align: center;
    color: white; }
    .dropdown-menu .dropdown-item:active {
      background-color: #AA4A15; }
    .dropdown-menu .dropdown-item:hover {
      color: black; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #2B2B2B;
  opacity: 0.8;
  grid-area: footer;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem; }
  footer h3 {
    max-height: 100px;
    color: ivory;
    margin-left: 10px;
    font-family: 'Bebas Neue'; }
  footer .redes-container__ul {
    list-style-type: none;
    bottom: 0px; }
    footer .redes-container__ul .redes-container__li {
      display: inline-block;
      padding-left: 10px;
      float: left;
      color: ivory; }
      footer .redes-container__ul .redes-container__li .redes-container__a {
        color: ivory;
        text-decoration: none; }
        footer .redes-container__ul .redes-container__li .redes-container__a .redes-container__img {
          max-width: 30px;
          max-height: auto;
          margin-right: 10px; }
          footer .redes-container__ul .redes-container__li .redes-container__a .redes-container__img:hover {
            box-shadow: 4px 2px #454545; }
  footer .extras-container {
    color: white;
    list-style-type: none;
    padding-right: 5%; }
    footer .extras-container .extras-container__a {
      text-decoration: none;
      color: white; }
    footer .extras-container .extras-container__a--legales:hover {
      color: #D98556;
      font-weight: bold; }
    footer .extras-container .extras-container__a--mailTo:hover {
      color: #D98556;
      font-weight: bold;
      font-style: italic; }

/*1. Index*/
.coverPage {
  height: 106.5vh; }
  .coverPage .carousel {
    height: 100%; }
    .coverPage .carousel .carousel-inner {
      height: 100%; }
      .coverPage .carousel .carousel-inner .carousel-caption {
        position: absolute;
        z-index: 15;
        top: 50vh; }
        .coverPage .carousel .carousel-inner .carousel-caption h1, .coverPage .carousel .carousel-inner .carousel-caption h2, .coverPage .carousel .carousel-inner .carousel-caption h3 {
          text-align: center;
          font-family: 'Bebas Neue';
          font-weight: bolder;
          color: #2B2B2B;
          color: white !important;
          font-size: 3rem !important;
          text-decoration: none !important;
          font-style: normal;
          filter: drop-shadow(2px 4px 6px black); }
    .coverPage .carousel .carousel-control-prev {
      opacity: 0; }
    .coverPage .carousel .carousel-control-next {
      opacity: 0; }
  .coverPage .productosDestacados {
    height: 67.5vh;
    display: flex;
    width: 75%;
    margin-left: 25%;
    padding-right: 1%; }
    .coverPage .productosDestacados .card-group {
      padding-top: 0.7%; }
      .coverPage .productosDestacados .card-group .card {
        height: 100%; }
        .coverPage .productosDestacados .card-group .card .card__a {
          display: inline-block;
          height: 52%;
          width: 100%; }
          .coverPage .productosDestacados .card-group .card .card__a .card-img-top {
            z-index: 3;
            height: 100%;
            width: 100%;
            transform: none;
            transform-origin: 0px -0px;
            transition: transform ease-in 300ms; }
            .coverPage .productosDestacados .card-group .card .card__a .card-img-top:hover {
              z-index: 4;
              transform: scale(1, 1.914);
              transform-origin: 0px -0px;
              transition: transform ease-out 300ms; }
        .coverPage .productosDestacados .card-group .card .card-body {
          flex: 1 1 auto;
          padding: 0.5rem 1rem; }
          .coverPage .productosDestacados .card-group .card .card-body .card-title {
            margin-bottom: .5rem;
            font-size: 1.2rem; }
          .coverPage .productosDestacados .card-group .card .card-body .card-text {
            margin-top: 0;
            margin-bottom: 0.2rem;
            font-size: 0.85rem; }

.aside-index {
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: #2B2B2B;
  border: 1px black; }
  .aside-index .aside-index__ul--productos {
    text-align: left;
    color: white;
    padding-left: 0;
    font-size: 1.1rem; }
  .aside-index .aside-index__ul--instrumentos, .aside-index .aside-index__ul--sonido {
    text-align: center;
    color: ivory;
    padding-left: 0;
    font-size: 0.95rem; }
    .aside-index .aside-index__ul--instrumentos .aside-index__li, .aside-index .aside-index__ul--sonido .aside-index__li {
      list-style-type: none;
      text-align: right;
      padding-left: 0;
      width: 100%;
      margin-right: 10px;
      padding: 15px 0;
      font-size: 0.8rem;
      transition: background-color 1s ease-in-out, text-shadow 1s ease-in-out, text-align 1ms ease-in-out; }
      .aside-index .aside-index__ul--instrumentos .aside-index__li:hover, .aside-index .aside-index__ul--sonido .aside-index__li:hover {
        transition: background-color 1s ease-in-out, text-shadow 1s ease-in-out, text-align 1s ease-in-out;
        background-color: black;
        text-shadow: 0.3px 0.3px white;
        width: 100%;
        margin-bottom: 2%;
        text-align: center; }
    .aside-index .aside-index__ul--instrumentos .aside-index__a, .aside-index .aside-index__ul--sonido .aside-index__a {
      text-decoration: none;
      color: white;
      padding-right: 1%;
      text-align: center;
      font-weight: normal;
      transition: text-align 1s ease-in-out, font-weight 200ms ease-in-out; }
      .aside-index .aside-index__ul--instrumentos .aside-index__a:hover, .aside-index .aside-index__ul--sonido .aside-index__a:hover {
        transition: text-align 1s ease-in-out, font-weight 200ms ease-in-out;
        font-weight: bold;
        text-shadow: 0.3px 0.3px white;
        width: 100%;
        margin-bottom: 2%;
        text-align: center; }

/*2. Contacto*/
.contenedorContacto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form form" "aside article";
  max-height: 100%;
  color: white;
  background-blend-mode: darken; }
  .contenedorContacto .formulario {
    grid-area: form; }
    .contenedorContacto .formulario .contactoTitulo {
      text-align: center;
      font-family: 'Bebas Neue';
      font-weight: bolder;
      color: #2B2B2B;
      padding-top: 125px; }
    .contenedorContacto .formulario fieldset {
      border: 1px solid black;
      padding-left: 1%; }
      .contenedorContacto .formulario fieldset legend {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-style: italic;
        color: black; }
      .contenedorContacto .formulario fieldset span {
        color: black; }
      .contenedorContacto .formulario fieldset .enviar {
        padding-bottom: 1%; }
  .contenedorContacto .contactosAdicionales {
    grid-area: article;
    color: black;
    padding-top: 0.5%; }
    .contenedorContacto .contactosAdicionales li {
      list-style-type: none;
      display: flex; }
      .contenedorContacto .contactosAdicionales li img {
        max-width: 10vw;
        max-height: 26.5vh;
        min-height: 3vh;
        min-width: 13.5vw;
        align-items: center;
        transition: opacity 300ms ease-out;
        opacity: 0.3; }
        .contenedorContacto .contactosAdicionales li img:hover {
          box-shadow: 2px 2px grey;
          transition: opacity 300ms ease-in;
          opacity: 1; }
    .contenedorContacto .contactosAdicionales .contactoWhatsapp {
      display: flex; }
    .contenedorContacto .contactosAdicionales .contactoTelegram {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      padding-right: 2%; }
    .contenedorContacto .contactosAdicionales .celular {
      display: flex;
      flex-direction: column;
      padding: 2%;
      padding-top: 0;
      align-items: flex-start; }
      .contenedorContacto .contactosAdicionales .celular h2 {
        font-size: 2rem; }
      .contenedorContacto .contactosAdicionales .celular h3 {
        font-size: 1.5rem; }
      .contenedorContacto .contactosAdicionales .celular .telegram {
        align-items: flex-end; }
  .contenedorContacto .contactosAdicionales_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: aside;
    background-color: #AA4A15;
    text-align: center; }
    .contenedorContacto .contactosAdicionales_2 h2 {
      margin-bottom: 0;
      text-decoration: none;
      font-family: 'Bebas Neue';
      font-size: 2rem; }
    .contenedorContacto .contactosAdicionales_2 .mailAside {
      margin-top: 0; }
      .contenedorContacto .contactosAdicionales_2 .mailAside h3 {
        margin-top: 0;
        font-size: 1.5rem;
        font-family: 'Roboto Slab', serif; }
      .contenedorContacto .contactosAdicionales_2 .mailAside a {
        text-decoration: none;
        color: white;
        transition: ease-out font-size 200ms, ease-out text-shadow 200ms;
        font-size: 1.7rem;
        text-shadow: 0px 0px white;
        font-family: 'Roboto Slab', serif; }
        .contenedorContacto .contactosAdicionales_2 .mailAside a:hover {
          transition: ease-in font-size 200ms, ease-in text-shadow 200ms;
          font-size: 2rem;
          text-shadow: 1px 1px white; }

/*3. Productos*/
.contenedorProductos {
  display: flex;
  flex-direction: row-reverse; }

.seccionProductos {
  width: 100%; }

.seccionProductos img {
  opacity: 0.3;
  transition: ease-in-out opacity 300ms, ease-in-out transform 300ms; }

.seccionProductos img:hover {
  opacity: 1;
  transform: scale(1.1, 1.1); }

.seccionProductos h1 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: #2B2B2B;
  margin-bottom: 0;
  display: flex;
  margin-top: 8.5%;
  justify-content: center;
  background-color: #2B2B2B;
  color: lightgrey; }

.prod_1, .prod_2, .prod3, .prod4, .prod5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1%;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  padding-left: 0.7%; }
  .prod_1 a, .prod_2 a, .prod3 a, .prod4 a, .prod5 a {
    color: black; }

.descProd_1, .descProd_2, .descProd3, .descProd4, .descProd5 {
  padding-left: 5px;
  width: 90%; }
  .descProd_1 h2, .descProd_2 h2, .descProd3 h2, .descProd4 h2, .descProd5 h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: bold; }
  .descProd_1 p, .descProd_2 p, .descProd3 p, .descProd4 p, .descProd5 p {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem; }

.precio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1%;
  text-align: right;
  padding-left: 1%; }
  .precio h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: bold; }
  .precio h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem; }

.aside-productos {
  display: inline-block;
  width: 20%;
  background-color: #2B2B2B;
  border: 1px black; }
  .aside-productos .aside-productos__ul--productos {
    position: sticky;
    top: 120px;
    text-align: left;
    color: white;
    margin-left: 0px;
    padding-left: 2px;
    font-size: 1rem; }
  .aside-productos .aside-productos__ul--instrumentos, .aside-productos .aside-productos__ul--sonido {
    position: sticky;
    top: 150px;
    text-align: center;
    padding-left: 0px;
    color: white;
    font-size: 15px; }
  .aside-productos .aside-productos__ul--sonido {
    position: sticky;
    top: 375px;
    text-align: center;
    padding-left: 0px;
    color: white;
    font-size: 15px; }
  .aside-productos .aside-productos__li {
    line-height: 3;
    text-align: right;
    list-style-type: none;
    transition: background-color 1s linear, text-shadow 1s linear, margin-bottom 300ms ease-in; }
    .aside-productos .aside-productos__li:hover {
      transition: background-color 1s linear, text-shadow 1s linear;
      background-color: black;
      text-shadow: 0.25px 0.25px white;
      width: 100%;
      margin-bottom: 20px;
      margin-right: 5px; }
    .aside-productos .aside-productos__li .aside-productos__a {
      color: white;
      text-decoration: none;
      margin-right: 5px;
      font-size: 13px;
      transition: background-color 1s linear, text-shadow 1s linear, margin-bottom 300ms ease-in; }
  .aside-productos .aside-productos__li--instrumentos:hover:nth-child(4) {
    margin-top: 20px; }
  .aside-productos .aside-productos__li--sonido:hover:nth-child(3) {
    margin-top: 20px; }

/*4. Redes*/
.seguinos {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px; }

.seguinos h1 {
  margin-top: 14.7vh;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: #2B2B2B; }

.seguinos__li {
  display: flex;
  align-items: center; }

.seguinos__img {
  max-width: 12vw;
  max-height: 28.5vh;
  min-height: 4vh;
  min-width: 15vw;
  align-items: center;
  transition: opacity 300ms ease-out;
  opacity: 0.3; }

.seguinos__img:hover {
  box-shadow: 2px 2px grey;
  transition: opacity 300ms ease-in;
  opacity: 1; }

.seguinos__followers {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  animation: slideIn 2.5s; }

.seguinos__followers--tiktok, .seguinos__followers--facebook {
  justify-content: center;
  align-items: flex-end;
  animation: slideIn_3 2.5s; }

.seguinos__followers h2 {
  font-size: 1.7rem;
  font-family: 'Roboto Slab', serif; }

.seguinos__followers h3 {
  font-size: 1.3rem;
  font-family: 'Roboto Slab', serif; }

.seguinos__instagram {
  padding-top: 2%;
  display: flex; }

.seguinos__facebook, .seguinos__tiktok {
  display: flex;
  flex-direction: row-reverse; }

.seguinos__twitter {
  display: flex; }

/*5. Donde comprar*/
.recommendation {
  padding-top: 120px;
  margin-bottom: -120px;
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: #2B2B2B; }

.tabla {
  margin-top: 170px;
  margin-left: 100px;
  border: 1px solid darkred;
  text-align: center;
  color: black; }

.tabla__encabezado {
  padding: 7px;
  border: 1px solid darkred;
  color: darkred;
  background-color: #D98556; }

.tabla__elemento {
  padding: 7px;
  border: 1px solid darkred; }

.tabla__a {
  color: black;
  font-weight: 700; }

.mapa {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 20px; }

.mapa h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif; }

/*6. Legales*/
.accordion {
  margin-top: 17vh; }

.accordion h1 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: #2B2B2B; }

.accordion-item {
  text-align: center;
  font-family: 'Roboto Slab', serif; }

.accordion-header {
  text-align: center; }

.accordion-button, .accordion-button:not(.collapsed) {
  background-color: #2B2B2B;
  color: white; }

.accordion-button:not(.collapsed) {
  background-color: #AA4A15 !important; }

/*7. Quienes somos*/
.quienes-somos {
  display: flex;
  flex-direction: column; }

.quienes-somos__landing {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #2B2B2B;
  /*Si no acepta gradientes el navegador*/
  background-image: linear-gradient(to bottom left, #3e3e3e 0%, #5d5d5d 37%, gainsboro 100%); }

.quienes-somos__imagen {
  height: 100%;
  width: 45%; }

.quienes-somos__imagen--img {
  float: left;
  height: 100%;
  width: 100%;
  animation: fadeIn 3s; }

.quienes-somos__texto {
  width: 55%;
  height: 100%;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  flex-shrink: 3; }

.quienes-somos__texto h2 {
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: #AA4A15;
  text-shadow: 0.1px 0.1px black;
  margin-bottom: 0;
  animation: slideIn 3s; }

.quienes-somos__texto h3 {
  font-family: 'Bebas Neue';
  color: #DBD6D6;
  font-style: italic;
  text-align: center;
  animation: slideIn_2 3.5s; }

.quienes-somos__texto p {
  animation: fadeIn 6.5s;
  color: ivory;
  font-family: 'Roboto Slab', serif; }

.quienes-somos__reseñas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%; }

.quienes-somos__reseñas h1 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bolder;
  color: #2B2B2B;
  color: #AA4A15;
  text-shadow: 1px 1px black;
  font-size: 2.5rem;
  padding-top: 3%;
  width: 100%; }

.quienes-somos__div {
  display: inline-block;
  max-width: 20%;
  padding-right: 5%;
  padding-left: 5%; }

.quienes-somos__img {
  box-sizing: border-box;
  border: 0.5px solid black;
  width: 200px;
  height: 200px;
  padding-bottom: 0;
  margin-bottom: 0;
  object-fit: cover; }

.quienes-somos__p {
  box-sizing: border-box;
  border: 0.5px solid black;
  width: 200px;
  height: auto;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 0.8rem;
  font-style: italic; }

.quienes-somos__p span {
  font-weight: bold;
  color: black;
  font-style: normal; }

/*8. Media Queries*/
@media (max-width: 766.98px) {
  .indexBody {
    display: flex; }
  .coverPage {
    height: 100vh; }
  .w-100 {
    height: 100vh !important; }
  .aside-index {
    display: grid;
    grid-template-areas: "catProductos catProductos" "catInstrumentos catSonido";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 30vh;
    margin-top: 0;
    position: relative; }
  .aside-index__ul--productos {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: black;
    grid-area: catProductos; }
  .aside-index__ul {
    margin-top: 0;
    overflow: auto; }
  .aside-index__ul--instrumentos {
    grid-area: catInstrumentos;
    flex-direction: column;
    margin-top: 0;
    height: 100%; }
  .aside-index__ul--sonido {
    grid-area: catSonido;
    flex-direction: column;
    margin-top: 0; }
  .aside-index__li {
    text-align: center !important;
    transition: background-color 1s linear, text-shadow 1s linear; }
  .aside-index__li:hover {
    background-color: black;
    text-shadow: 0.3px 0.3px white;
    width: 100%;
    margin-bottom: 0; }
  .productosDestacados {
    display: flex;
    position: relative;
    top: 31vh;
    margin-left: 1% !important;
    padding-right: 1% !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100% !important; }
  .card-group {
    height: 100% !important;
    width: 100% !important; }
  .card-title {
    font-size: 1rem; }
  .card-text {
    font-size: 0.55rem; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: #2B2B2B;
    opacity: 0.8;
    grid-area: footer;
    margin-top: 69vh; }
  .footerIndex {
    margin-top: 75vh; }
  .redes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%; }
  .redes-container h3 {
    margin: 0; }
  .redes-container__ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly; }
  .redes-container__li {
    display: flex;
    justify-content: space-between;
    padding: 0; }
  .redes-container__img {
    margin: 0; }
  .extras-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0; }
  /*Redes*/
  .seguinos__followers h2 {
    font-size: 1.3rem; }
  .seguinos__followers h3 {
    font-size: 1rem; }
  .footerRedes {
    margin-top: 0; }
  /*Contacto*/
  .footerContacto {
    margin-top: 0; }
  /*Quienes Somos*/
  .quienes-somos__landing {
    z-index: 0;
    background-image: url("../img/electric-guitar-edit.jpg");
    animation: fadeIn 2s; }
  .quienes-somos__imagen {
    display: none; }
  .quienes-somos__imagen--img {
    display: none; }
  .quienes-somos__texto {
    z-index: 2;
    width: 100%;
    backdrop-filter: brightness(0.4);
    padding-top: 25vh; }
  .quienes-somos__reseñas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .quienes-somos__div {
    max-width: 20%;
    padding-right: 0;
    padding-left: 0; }
  .quienes-somos__img {
    box-sizing: border-box;
    border: 0.5px solid black;
    width: 175px;
    height: 175px;
    padding-bottom: 0;
    margin-bottom: 0;
    object-fit: cover; }
  .quienes-somos__p {
    box-sizing: border-box;
    border: 0.5px solid black;
    width: 175px;
    height: auto;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 0.8rem;
    font-style: italic; }
  .footerQuienes {
    margin-top: 0; }
  /*Productos*/
  .footerProductos {
    margin-top: 0; } }

@media (min-width: 767px) and (max-width: 991.98px) {
  .indexBody {
    display: flex; }
  .coverPage {
    height: 100vh; }
  .w-100 {
    height: 100vh !important; }
  .aside-index {
    display: grid;
    grid-template-areas: "catProductos catProductos" "catInstrumentos catSonido";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 30vh;
    margin-top: 0;
    position: relative; }
  .aside-index__ul {
    margin-top: 0;
    overflow: auto; }
  .aside-index__ul--productos {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: black;
    grid-area: catProductos; }
  .aside-index__ul--instrumentos {
    grid-area: catInstrumentos;
    flex-direction: column;
    margin-top: 0;
    height: 100%; }
  .aside-index__ul--sonido {
    grid-area: catSonido;
    flex-direction: column;
    margin-top: 0; }
  .aside-index__li {
    text-align: center !important;
    transition: background-color 1s linear, text-shadow 1s linear; }
  .aside-index__li:hover {
    background-color: black;
    text-shadow: 0.3px 0.3px white;
    width: 100%;
    margin-bottom: 0; }
  .productosDestacados {
    display: flex;
    position: relative;
    top: 30vh;
    margin-left: 6% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    padding-top: 7%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: auto !important; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: #2B2B2B;
    opacity: 0.8;
    grid-area: footer;
    margin-top: 68vh; }
  .redes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%; }
  .redes-container h3 {
    margin: 0; }
  .redes-container__ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly; }
  .redes-container__li {
    display: flex;
    justify-content: space-between;
    padding: 0; }
  .redes-container__img {
    margin: 0; }
  .extras-container {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  /*Redes*/
  .seguinos__followers h2 {
    font-size: 1.5rem; }
  .seguinos__followers h3 {
    font-size: 1.15rem; }
  .footerRedes {
    margin-top: 0; }
  /*Contacto*/
  .footerContacto {
    margin-top: 0; }
  /*Quienes Somos*/
  .quienes-somos__landing {
    z-index: 0;
    background-image: url("../img/electric-guitar-edit.jpg");
    background-repeat: no-repeat;
    background-repeat: round;
    animation: fadeIn 2s; }
  .quienes-somos__imagen {
    display: none; }
  .quienes-somos__imagen--img {
    display: none; }
  .quienes-somos__texto {
    z-index: 2;
    width: 100%;
    backdrop-filter: brightness(0.4);
    padding-top: 25vh; }
  .quienes-somos__reseñas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .quienes-somos__div {
    max-width: 20%;
    padding-right: 0;
    padding-left: 0; }
  .quienes-somos__img {
    box-sizing: border-box;
    border: 0.5px solid black;
    width: 200px;
    height: 200px;
    padding-bottom: 0;
    margin-bottom: 0;
    object-fit: cover; }
  .quienes-somos__p {
    box-sizing: border-box;
    border: 0.5px solid black;
    width: 200px;
    height: auto;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 0.8rem;
    font-style: italic; }
  .footerQuienes {
    margin-top: 0; }
  /*Productos*/
  .footerProductos {
    margin-top: 0; } }

/*9. Animaciones*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes slideIn_2 {
  from {
    margin-top: -50%; }
  to {
    margin-top: 0%; } }

@keyframes slideIn_3 {
  from {
    margin-right: 100%;
    width: 100%; }
  to {
    margin-right: 0%;
    width: 100%; } }
