.recommendation{
	padding-top: 17vh;
	@include h1;
}
.tabla{
	font-size: 1.25vw;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid darkred;
	text-align: center;
	color: black;
}
.tabla__encabezado{
	padding: 0.3rem;
	border: 1px solid darkred;
	color: darkred;
	background-color: $NarPrinc;
}
.tabla__elemento{
	padding: 0.45rem;
	border: 1px solid darkred;
}
.tabla__a{
	color: black;
	font-weight: 700;
}
.mapa{
	display: flex;
	padding-top: 2vh;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding-bottom: 2vh;
	height: 80vh;
}
.mapa h2{
	text-align: center;
	font-family: 'Roboto Slab', serif;
}