@mixin redesDerechas{
	justify-content: center;
	align-items: flex-end;
	animation: slideIn_3 2.5s;
}

@mixin followers($fsize){
	font-size: $fsize;
	font-family: 'Roboto Slab', serif;
}

@mixin h1{
	text-align: center;
	font-family: 'Bebas Neue';
	font-weight: bolder;
	color: $MainGrey;
}

@mixin asideProd($sticky-height){
	position: sticky;
	top: $sticky-height;
	text-align: center;
	padding-left: 0px;
	color: white;
	font-size: 15px;
}